header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    grid-column: 2;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}

.container {
    width: 1500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.add-player-form {
    margin-top: 20px;
    text-align: center;
}

.add-player-form input {
    margin: 5px;
    padding: 5px;
}
