<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Fencing Score Sheet{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="../static/images/tsg.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block styles %}{% endblock %}
  </head>
  <body>
    <header>
      <img src="{{ url_for('static', filename='images/maisch.png') }}" alt="Maisch Logo" style="display: block; margin: 0 auto; height: 100px;">
      <h1>Maisch Cup</h1>
      <img src="{{ url_for('static', filename='images/tsg.png') }}" alt="TSG Rohrbach Logo" style="display: block; margin: 0 auto; height: 100px;">
    </header>
    <div class="container">{% block content %}{% endblock %}</div>
  </body>
</html>
