{% extends "base.html" %}

{% block styles %}
<style>
  .container {
      font-size: larger;
  }
  button {
      font-size: large;
  }
  li{list-style:none;}
</style>
{% endblock %}

{% block title %}Fencing Score Sheet{% endblock %}

{% block content %}
<html>
    <div class="container">
      <div class="add-player-form">
        <h2>Teilnehmer hinzufügen</h2>
        <form method="POST" action="/add_player">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" required />
          <button type="submit">Hinzufügen</button>
        </form>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% endwith %}
        <form method="GET" action="/">
          <button type="submit">Ich bin schon eingetragen.</button>
        </form>
      </div>
    </div>
</html>
{% endblock %}
