{% block styles %}
<style>
    .result-form {
        margin-top: 20px;
        text-align: center;
        font-size: 25px;
    }
    .result-form select, .result-form input {
        margin: 5px;
        padding: 5px;
        font-size:25px;
    }
    li{list-style:none;}
    .grayed-out {
            color: rgba(128, 128, 128, 0.562);
            background-color: rgba(128, 128, 128, 0.162);
        }
</style>
{% endblock %}

<html>
    <div class="result-form">
        <h2>Ergebnis Eintragen</h2>
        <form method="POST" action="/update_score">
            <label for="player1_id">Das Gefecht zwischen</label>
            <select name="player1_id" id="player1_id">
                {% for player in players %}
                <option value="{{ player.id }}" {% if session.get('player_id') == player.id %}selected{% endif %}>{{ loop.index }}{{ ". " + player.name }}</option>
                {% endfor %}
            </select>
            <label for="player2_id">und</label>
            <select name="player2_id" id="player2_id">
                {% for player in players %}
                <option value="{{ player.id }}">{{ player.name }}</option>
                {% endfor %}
            </select>
            <label for="score1">geht</label>
            <select name="score1" id="score1">
                <option value="">-</option>
                {% for i in range(6) %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            <label for="score2">zu</label>
            <select name="score2" id="score2">
                <option value="">-</option>
                {% for i in range(6) %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            <label for="score2">aus.</label>
            <button type="submit" id="submit-button" disabled>Eintragen!</button>
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %} {% endwith %}
        </form>
    </div>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const player1Select = document.getElementById('player1_id');
        const player2Select = document.getElementById('player2_id');
        const score1Select = document.getElementById('score1');
        const score2Select = document.getElementById('score2');
        const submitButton = document.getElementById('submit-button');

        function validateScores() {
            const player1 = parseInt(player1Select.value);
            const player2 = parseInt(player2Select.value);
            const score1 = parseInt(score1Select.value);
            const score2 = parseInt(score2Select.value);

            if (player1 !== player2 && !isNaN(score1) && !isNaN(score2) && ((score1 === 5 || score2 === 5) && !(score1 === 5 && score2 === 5))) {
                submitButton.disabled = false;
            } else {
                submitButton.disabled = true;
            }
        }

        player1Select.addEventListener('change', validateScores);
        player2Select.addEventListener('change', validateScores);
        score1Select.addEventListener('change', validateScores);
        score2Select.addEventListener('change', validateScores);
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const player1Select = document.getElementById('player1_id');
        const player2Select = document.getElementById('player2_id');
        const playersjson = JSON.parse('{{ playersjson | safe}}');     
        const scoresjson = JSON.parse('{{ scoresjson | safe}}'); 
        
        
        function updatePlayer2Options() {
            const player1Id = parseInt(player1Select.value);
            player2Select.innerHTML = '';

            playersjson.forEach(player => {
                const option = document.createElement('option');
                option.value = player.id;
                option.textContent = `${player.id}. ${player.name}`;

                const existingScore = scoresjson.find(score => score.player1_id === player1Id && score.player2_id === player.id);
                if (existingScore) {
                    option.classList.add('grayed-out');
                }
                if (player1Id === player.id) {
                    option.classList.add('grayed-out');
                }

                player2Select.appendChild(option);
            });
        }

        player1Select.addEventListener('change', updatePlayer2Options);
        updatePlayer2Options(); // Initial call to set options based on the default selection
    });
</script>